* {
    background-color: #19181a;
    color: #ffbd19;
}

.centered-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glowing-border {
    outline: none;
    border-color: #ffbd19;
    box-shadow: 0 0 10px #ffbd19;
}

.glowing-border:focus {

}

.fixed-div-class {
    flex: auto;
    background-color: #000;
    color: #fff;
    opacity: .5;
}

.fixed-div-class-inner {
    background-image: url("../images/numberOne.jpeg");
}